/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-red: 1, 90%, 64%;
  --clr-blue: 219, 85%, 26%;
  --clr-white: 0, 0%, 100%;
  --clr-very-light-grayish-blue: 210, 60%, 98%;
  --clr-light-grayish-blue1: 211, 68%, 94%;
  --clr-light-grayish-blue2: 205, 33%, 90%;
  --clr-grayish-blue: 219, 14%, 63%;
  --clr-dark-grayish-blue: 219, 12%, 42%;
  --clr-very-dark-blue: 224, 21%, 14%;

  /* font-sizes */
  --fs-800: 800;
  --fs-500: 500;

  /* font-families */
  --ff-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* colors */

.bg-red {
  background-color: hsl(var(--clr-red));
}
.bg-blue {
  background-color: hsl(var(--clr-blue));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}
.bg-very-light-grayish-blue {
  background-color: hsl(var(--clr-very-light-grayish-blue));
}
.bg-light-grayish-blue1 {
  background-color: hsl(var(--clr-light-grayish-blue1));
}
.bg-light-grayish-blue2 {
  background-color: hsl(var(--clr-light-grayish-blue2));
}

/* 
.bg-grayish-blue: 219, 14%, 63%;
.bg-dark-grayish-blue: 219, 12%, 42%;
.bg-very-dark-blue: 224, 21%, 14%; */

/* typography */
.ff-jakarta-sans {
  font-family: var(--ff-plus-jakarta-sans);
}

.uppercase {
  text-transform: uppercase;
}

.fs-800 {
  font-size: var(--fs-800);
}
.fs-500 {
  font-size: var(--fs-500);
}

/* set up the body */
body {
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--clr-very-light-grayish-blue));
  font-family: var(--ff-plus-jakarta-sans);
  line-height: 1.5;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

ul > li {
  list-style: none;
}

.notifications {
  width: 730px;
  min-height: 80vh;
  border-radius: 10px;
  background-color: hsl(var(--clr-white));
  padding: 30px;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-heading {
  font-size: 25px;
  letter-spacing: 0.1rem;
  font-weight: 800;
}

.btn-summary {
  border-radius: 5px;
  padding: 2px 12px 2px 12px;
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-blue));
  text-align: center;
  font-weight: var(--fs-800);
  margin-left: 10px;
}

.text-light {
  width: 80%;
  text-align: right;
  font-weight: var(--fs-500);
  color: hsl(var(--clr-dark-grayish-blue));
}

.notification {
  background-color: hsl(var(--clr-light-grayish-blue1));
  padding: 20px;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

ul > *:where(:not(:first-child)) {
  margin-top: 0.5rem;
}

.row > img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.text-bold {
  font-weight: var(--fs-800);
}

.text-greyish-blue {
  color: hsl(var(--clr-grayish-blue));
}

.text-dark-greyish-blue {
  color: hsl(var(--clr-dark-grayish-blue));
  margin-left: 5px;
  margin-right: 5px;
}

.text-very-dark-blue {
  color: hsl(var(--clr-very-dark-blue));
}

.text-grayish {
  color: hsl(var(--clr-dark-grayish-blue));
}

.text-blue {
  color: hsl(var(--clr-blue));
}
